:host {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

.title {
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    vertical-align: bottom;
}

.spacer-3x {
    flex-grow: 3;
}

.total {
    width: 120px;
    text-align:right;
}

.amount-container {
    border: 1px solid grey;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 20px;

    .min, .plus {
        display: inline-block;
        color: white;

        width: 30px;
        background-color: #5CC9F5;

        &:hover {
            background-color: #00B0F6;
        }
    }

    * {
        display: inline-block;
        width: 30px;
        text-align: center;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}

.spacer-1x {
    flex-grow: 1;
}

